.video-bg {
  
    width: 100%;
    height: 800px;
    object-fit: cover;
    z-index: 0;
}

.item {
    width: 600px;
    color: #FFF;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    
    z-index: 1;
}
