.bannerBg{
    background-image: url("../../../assets/74.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    background-color: rgb(95, 94, 94);
    background-blend-mode: overlay; 
 
}
.bannerBg1{
    background-image: url("../../../assets/638f8612f68be34fd0f34d117a043b44.webp");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    background-color: rgb(95, 94, 94);
    background-blend-mode: overlay; 
}